[Unit]
Description=Deconz REST API 2 MQTT service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/deconz2mqtt/deconz2mqtt.py
Restart=always
RestartSec=60
User=pi

[Install]
WantedBy=multi-user.target